<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.dinda.laundry">

    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <uses-permission android:name="android.permission.BLUETOOTH_SCAN" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/laundry_dinda"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Laundry"
        tools:targetApi="31">
        <activity
            android:name=".RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".laporan.DataLaporanActivity"
            android:exported="false" />
        <activity
            android:name=".transaksi.InvoiceActivity"
            android:exported="false" />
        <activity
            android:name=".transaksi.KonfirmasiDataActivity"
            android:exported="false" />
        <activity
            android:name=".pilihan.PilihTambahanActivity"
            android:exported="false" />
        <activity
            android:name=".pilihan.PilihLayananActivity"
            android:exported="false" />
        <activity
            android:name=".pilihan.PilihPelangganActivity"
            android:exported="false" />
        <activity
            android:name=".tambahan.tambahtambahanActivity"
            android:exported="false" />
        <activity
            android:name=".tambahan.datatambahanActivity"
            android:exported="false" />
        <activity
            android:name=".transaksi.DataTransaksiActivity"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".cabang.TambahanCabangActivity"
            android:exported="false" />
        <activity
            android:name=".cabang.DataCabangActivity"
            android:exported="false" />
        <activity
            android:name=".Layanan.TambahanLayananActivity"
            android:exported="false" />
        <activity
            android:name=".Layanan.DataLayananActivity"
            android:exported="false" />
        <activity
            android:name=".pegawai.DataPegawaiActivity"
            android:exported="false" />
        <activity
            android:name=".pegawai.TambahanPegawaiActivity"
            android:exported="false" />
        <activity
            android:name=".pelanggan.TambahanPelangganActivity"
            android:exported="false" />
        <activity
            android:name=".pelanggan.DataPelangganActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
    </application>

</manifest>